@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.img{
    max-width: 50px;
}
.header{
    max-width: 960px;
    margin: 0 auto;
    padding: 12px;
    background-color: #7A7978;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(99, 0, 124);
    padding-block: 15px;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-right: 50px;
    font-size: 24px;
    font-family: 'Bangers', cursive;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 16px;
    font-family: 'Bangers', cursive;
    padding-right: 1rem;
}
#toggler,
.navbar label{
    display: none;
}

@media screen and (max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked- .menu{
        max-height: 100%;
    }
}
